.user-container {
  max-width: 1170px;
  display: flex;
  margin: 10px auto 0px;
  justify-content: space-between;
}

@media screen and (max-width: 448px) {
  .user-container {
    flex-direction: column-reverse;
  }
}

.user-container > .list-user {
  flex: 1.8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 770px;
}

@media screen and (max-width: 480px) {
  .list-user {
    justify-content: center !important;
  }

  .user-box {
    margin-right: 0 !important;
    padding: 20px !important;
  }

  .container-info > h1 {
    font-size: 26px !important;
  }

  .dot-container {
    margin-top: 10px !important;
  }
}

.list-user > .user-box {
  max-width: 310px;
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #e8e7ec;
  box-shadow: 0px 20px 70px rgba(18, 17, 22, 0.07);
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.user-box > .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #605d6c;
}

.user-box > .menu {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > .index {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fffbef;
  line-height: 36px;
  text-align: center;
}

.menu > .basic-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.basic-info > .avatar {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  overflow: hidden;
}

.avatar > img {
  width: 54px;
  height: 54px;
  object-fit: contain;
}

.basic-info > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info > .username {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #121116;
}

.info > .job {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #605d6c;
}

.user-container > .container-info {
  max-width: 365px;
  flex: 1;
  margin-bottom: 20px;
}

.container-info > h1 {
  width: fit-content;
  margin: 0;
  max-width: 365px;
}

.container-info > .dot-container {
  display: flex;
  gap: 5px;
  margin-top: 30px;
}

.dot-container > div {
  width: 22px;
  height: 2px;
  background: #121116;
  border-radius: 1px;
}

.dot-container > div.selected {
  background: #7557ff;
}

.subscribe-container {
  max-width: 1030px;
  padding: 70px;
  background: #7557ff;
  border-radius: 24px;
  margin: 160px auto 0;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 695px) {
  .subscribe-container {
    justify-content: center !important;
  }
}

@media screen and (max-width: 480px) {
  .subscribe {
    margin-top: 15px !important;
  }
  .subscribe-container {
    padding: 25px !important;
  }
  .subscribe > input {
    padding: 5px !important;
  }
  .subscribe > input::placeholder {
    font-size: 14px !important;
  }
  .subscribe > button {
    padding: 8px !important;
    font-size: 14px !important;
  }
  .subscribe-box > h2 {
    line-height: 30px !important;
    font-size: 24px !important;
  }
}

.subscribe-container > .subscribe-box {
  max-width: 415px;
  flex: 1;
}

.subscribe-box > h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  color: #ffffff;
}

.subscribe-box > .subscribe {
  display: flex;
  gap: 20px;
  margin-top: 38px;
}

.subscribe > input {
  width: 100%;
  min-width: 120px;
  border-radius: 6px;
  padding: 15px;
  background: #7e63ff;
  border: none;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.subscribe > input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.subscribe > button {
  padding: 15px 35px;
  background: #ffffff;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #7557ff;
  border: none;
}

.subscribe-container > .subscribe-img {
  flex: 1;
  max-width: 192px;
  max-height: 192px;
}

.subscribe-img > img {
  max-height: inherit;
  max-width: inherit;
  object-fit: contain;
}
