

.background-footer{
    width: 100%;
    background: #FFFBEF;
}

.background-footer .footer-text{
    margin-left: 135px;
}

.background-footer .list-right{
   float: right;
}

.background-footer .list-right ul{
   display: flex;
   list-style: none;
   margin-right: 135px;
 }
 .background-footer .list-right ul li{
    padding-left: 30px;
  }

