

.background-footer{
    width: 100%;
    background: #FFFBEF;
}

.background-footer .footer-text{
    margin-left: 135px;
}

.background-footer .footer-text .list{
   float: right;
}

.background-footer .footer-text .list ul li{
   
 }

